<extend name="Public/base"/>
<block name="link">
	<link rel="stylesheet" type="text/css" href="__STATIC__/easyui/plugins/portal.css"></block>
<block name="body">

	<div id="portal" style="position: relative;margin:-5px;">
		<div >
			<div class="easyui-panel" id="testp" data-options="title:'会员信息',border:false,iconCls:'icon-group',collapsible:true">
				dddddd
				dddddd
				dddddd
				dddddd
				dddddd<br>dddddd<br>dddddd<br>dddddd<br>dddddd<br>dddddd<br>dddddd<br>
			</div>
			<div class="easyui-panel" data-options="title:'xxxx',border:false">ss</div>
		</div>
		<div>
			<div class="easyui-panel" data-options="title:'服务器信息',border:false,iconCls:'icon-server',href:'__URL__/board',collapsible:true"></div>
			<div class="easyui-panel" data-options="title:'xxxx',border:false">ss</div>
		</div>

		<div >
			<div class="easyui-panel" data-options="title:'xxxx',border:false">ss</div>
			<div class="easyui-panel" data-options="title:'xxxx',border:false">ss</div>
			<div class="easyui-panel" data-options="title:'版本信息',border:false"><a href="javascript:void(0);" id="mask1">dddd</a>当前版本:cjln.v1.0</div>
		</div>

	</div>

</block>

<block name="script">
	<script type="text/javascript" src="__STATIC__/easyui/plugins/jquery.portal.js"></script>
	<script type="text/javascript">
		$(function($){
			$("#portal").portal({border:false});
			eyResize({'#portal':'portal'});
		});
	</script>
</block>