<!DOCTYPE html>
<html>
<head>
	<title> 后台管理</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/easyui/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/easyui/themes/icon.extend.css">
	<link rel="stylesheet" type="text/css" id="theme" href="__STATIC__/easyui/themes/<php>echo $_COOKIE['theme'] ? $_COOKIE['theme'] : 'default';</php>/easyui.css">
	<block name="css"></block>
	<script type="text/javascript">
		// 初始化全局变量定义
		var MODULE_NAME = '__MODULE__';
	</script>


</head>
<body>
<div class="wrap" style="margin: 5px;">
	<block name="body"></block>
</div>
<!--[if lt IE 9]>
	<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
	<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="__STATIC__/easyui/jquery.easyui.min.js"></script>
<block name="script"></block>
<script type="text/javascript">
	$(function($){
		$(".easyui-datagrid").datagrid('resize');
		$(".easyui-panel").panel('resize');
		$(window).resize(function(){
			$(".easyui-datagrid").datagrid('resize');
			$(".easyui-panel").panel('resize');
		});
	});
</script>
</body>
</html>