<!DOCTYPE html>
<html>
<head>
	<title>系统后台</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome/css/font-awesome.min.css">
	<!--[if lt IE 9]>
		<script type="text/javascript" src="__STATIC__/html5shiv.js"></script>
		<script type="text/javascript" src="__STATIC__/respond.min.js"></script>
	<![endif]-->

	<style type="text/css">
		html,body{
			background-color: #F9F9F9;
			margin:0;
			padding: 0;
		}
		#login {
			
    		padding-top: 60px;
		}
		#login-box {
			border: 1px solid #ccc;
			height: 200px;
			width: 350px;
			margin: 0 auto;
		}
	</style>



</head>
<body>

<div class="container" id="login">
	
		<!-- login-box -->	
		<div id="login-box" class="">ddddd</div>
		<!-- //login-box -->	
	
</div>


<!--[if lt IE 9]>
	<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
	<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<!--<![endif]-->

<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>