<!DOCTYPE html>
<html>
<head>
	<title>系统后台</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/responsive.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/login/login.css">
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="__STATIC__/html5shiv.js"></script>
		<script type="text/javascript" src="__STATIC__/respond.min.js"></script>
	<![endif]-->

</head>
<body class="login">

  <!-- <div class="logo">
    <img src="bs-login_files/logo.png" alt="logo"> <strong></strong>
  </div> -->

  <div class="box">
    <div class="content">
      <form class="form-vertical login-form" action="__URL__/login" method="post">
        <h3 class="form-title">管理登录</h3>
        <div class="form-group" >
          <div class="input-icon"> <i class="fa fa-user"></i>
            <input type="text" name="username" id="username" class="form-control" placeholder="用户名" autofocus="autofocus" >
            <span class="help-block Validform_checktip"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input type="password" name="password" id="password" class="form-control" placeholder="密码" >
            <span class="help-block Validform_checktip"></span>
          </div>
        </div>
        <div class="form-group">
          <div class="input-icon">
            <i class="fa fa-barcode"></i>
            <input type="text" name="verifycode" id="verifycode" class="form-control" style="width: 60%;" placeholder="验证码" > 
            <img src='{:U('Public/verify')}'
                  title="点击刷新" alt="点击刷新" style="width: 40%;margin-top: -32px;height: 32px;" class="pull-right verifyimg reloadverify"/>
            <span class="help-block Validform_checktip"></span>
          </div>
        </div>
        
        <div class="help-block" id="alert" style="display: none;">
          <p class="text-success" id="rsps">
            <i class="fa fa-spinner fa-spin"></i>
            &nbsp;&nbsp;<span id="alert-tip">正在登陆...</span>
          </p>
        </div>
        
        <div class="form-actions">
          <!-- <label class="checkbox pull-left">
            <div class="checker">
              <span>
                <input class="uniform" name="remember" type="checkbox"></span>
            </div>
            记住密码
          </label> -->
          <button type="button" id="login-btn" class="submit btn btn-primary pull-right">
            登录
            <i class="fa fa-angle-right"></i>
          </button>
        </div>
      </form>

    </div>

  </div>



<!--[if lt IE 9]>
	<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
	<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<!--<![endif]-->

<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__STATIC__/Validform/Validform.min.js"></script>
<script type="text/javascript" src="__JS__/login/login.js"></script>

</body>
</html>