<include file="Public:header" />

<block name="link">
	<link href="__CSS__/css.css" rel="stylesheet" />
</block>
<!--中间开始-->
<div class="main_bg2 w_100 fleft">
   <div class="w980 center">
      <div class="swqj_w">
	     <div class="qj_banner">
		    <div class="qj_banner_left"></div>
			<div class="qj_banner_right">
			   <div class="ewmxz"><img src="__IMG__/ewmxz.gif"/></div>
			   <div class="khdxz"><a href="#"><img src="__IMG__/khdxz.gif"/></a></div>
			</div>
		 </div>
		 
		 <div class="khd_js">
		    <div class="khdjs_left"><img src="__IMG__/khd1.jpg"/></div>
			<div class="khdjs_right">
			    <div class="bigtxt">实时预览</div>
				<div class="smalltxt">实时查看养殖情况</div>
			</div>
			<div class="clear"></div>
		 </div>
		 
		 
		 <div class="khd_js2">
			<div class="khdjs_left">
			    <div class="bigtxt">三维全景</div>
				<div class="smalltxt">养殖园在线三维全景展示</div>
			</div>
			<div class="khdjs_right"><img src="__IMG__/khd2.jpg"/></div>
			<div class="clear"></div>
		 </div>
		 
		 <div class="khd_js">
		    <div class="khdjs_left"><img src="__IMG__/khd3.jpg"/></div>
			<div class="khdjs_right">
			    <div class="bigtxt">视频回放</div>
				<div class="smalltxt">查看过去养殖情况</div>
			</div>
			<div class="clear"></div>
		 </div>
		 
	    <div class="clear"></div> 
	  </div>
   </div>
   <div class="clear"></div>
</div>
<!--中间结束-->
<!--底部开始-->
<div class="w_100 fleft dibu2">
	  <div class="foot2">
	  Copyright © 2012 sczdnm All rights reserved. 蜀ICP备05000199号-1
      </div>
	
</div>
<!--底部结束-->

</body>
</html>