<include file="Public:header" />

<block name="link">
	<link href="__CSS__/css.css" rel="stylesheet" />
</block>
<!--中间开始-->
<div class="main_bg2 w_100 fleft">
   <div class="w1000 center">
      <div class="qj_left">
	     <ul class="tab_w">
		    <li><a href="#" class="select">鑫博园</a></li>
			<li><a href="#">丹景园</a></li>
		 </ul>
	  </div>
	  
	  <div class="qj_right">
	     <img src="__IMG__/swqj.jpg"/>
	  </div>
   </div>
   <div class="clear"></div>
</div>
<!--中间结束-->

<!--底部开始-->
<div class="w_100 fleft dibu2">
	  <div class="foot2">
	  Copyright © 2012 sczdnm All rights reserved. 蜀ICP备05000199号-1
      </div>
	
</div>
<!--底部结束-->

</body>
</html>