<style type="text/css">
	/*.tree-checkbox2 {
    	background: url("/Public/Static/easyui/themes/default/images/tree_icons.png") no-repeat scroll -224px -18px rgba(0, 0, 0, 0);
	}*/
</style>
<block name="link">
	<link rel="stylesheet" type="text/css" href="__STATIC__/zTree/css/zTreeStyle/zTreeStyle.css">
</block>
<block name="body">
	<!-- <table id="dl-tg"></table> -->
	<!-- <div style="padding-left: 20px;"> -->
		<ul id="auth-set-tree" class="ztree"></ul>
		<!-- <ul id="treeDemo" class="ztree"></ul> -->
	<!-- </div> -->
</block>

<block name="script">
<script type="text/javascript" src="__JS__/common.js"></script>
<script type="text/javascript" src="__STATIC__/zTree/js/jquery.ztree.core-3.5.min.js"></script>
<script type="text/javascript" src="__STATIC__/zTree/js/jquery.ztree.excheck-3.5.min.js"></script>
<script type="text/javascript">
	var	groupid = {$groupid};
	// console.info(groupid);
	var setting = {
		async: {
			enable: true,
			url:'__URL__/get_rules_json?groupid='+groupid
		},
		view:{
			showIcon:false
		},
		data:{
			key:{
				name:'title',
				title:'name'
			}
		},
		check: {
			enable: true,
			chkboxType:{ "Y" : "ps", "N" : "s" }
		}
	};
	$(function($){
		$.fn.zTree.init($("#auth-set-tree"), setting);
	});

	function getChecked () {
		var zTree = $.fn.zTree.getZTreeObj("auth-set-tree"),
			checkedNodes = zTree.getCheckedNodes(),
			ids = '',
			isOk = false;
		// console.info(checkedNodes.length);
		if(checkedNodes.length) {
			$.each(checkedNodes,function(i,l){
				ids += l.id+',';
			});
			ids = ids.substring(0,ids.length-1);
		}

		$.ajax({
            type:'post',
            url:'__URL__/authSet',
            async:false,
            data:{rules:ids,groupid:groupid},
            success:function(rsp){
            	$.messager.show({
                    title:lang.tipTitle,
                    msg:rsp.info,
                    showType:'show',
                    position:'bottomRight'
                });
                isOk = rsp.status ? true :false;
            }
        });
        return isOk;
	}
</script>
</block>