<extend name="Public/base"/>

<block name="body">
	<table id="dg"></table>
</block>

<block name="script">
	<script type="text/javascript">
		var toolbar = [{
				text:'增加',
				iconCls:'icon-add',
				handler:add
			},{
				text:'修改',
				iconCls:'icon-edit',
				handler:edit
			},{
				text:'删除',
				iconCls:'icon-remove',
				handler:del
			},'-',{
				text:'成员管理',
				iconCls:'icon-user',
				handler:groupMebManager
			},{
				text:'权限设置',
				handler:authSet
			},'-',{
				text:'刷新',
				iconCls:'icon-reload',
				handler:function(){$("#dg").datagrid('reload');}
			}];
		var dlist;
		$(function($){
			dlist = $('#dg').datagrid({
				title:'用户组',
				toolbar:toolbar,
				url:'__URL__/get_usergroup_json',
				rownumbers:true,
				pagination:true,
				singleSelect: true,
				idField:'id',
				columns:[[
					{title:'用户组',field:'title'},
					{title:'描述',field:'description'},
					{title:'状态',field:'status',formatter:function(value,row,index){
						return '<span class="icons icon-status'+value+'">&nbsp;&nbsp;&nbsp;</span>';
					}}
				]]
			});

			eyResize({'#dg':'datagrid'});
		});

		function add() {
			$.showModalDialog({
				title:'增加用户组',
				href:CONTROLLER+'/addUsergroup',
				data:{ele:$("#dg")},
				buttons:[{
					text:'增加',
					handler:'doOK'
				},{
					text:'取消',
					handler:function(win){ win.close();}
				}]
			});
		}

		function del() {
			var sltRow = dlist.datagrid('getSelected');
			isSlted(sltRow);
			
			console.info(sltRow);
			$.messager.confirm('确认对话框', '您想要删除选择中的数据吗？', function(r){
				if (r){
				    $.post(CONTROLLER+'/delUserGroup',{id:sltRow.id},function(rsp){
						console.info(rsp);
						noty(rsp);
						if(rsp.status) dlist.datagrid('reload');
					});
				}
			});
			
		}

		function edit() {
			var sltRow = dlist.datagrid('getSelected');
			isSlted(sltRow);
			$.showModalDialog({
				title:'修改用户组',
				href:CONTROLLER+'/addUsergroup?id='+sltRow.id,
				data:{ele:$("#dg")},
				buttons:[{
					text:'确定',
					handler:'doOK'
				},{
					text:'取消',
					handler:function(win){ win.close();}
				}]
			});
			
		}
		// 成员管理
		function groupMebManager() {
			var sltRow = dlist.datagrid('getSelected');
			if(sltRow) {
				$.showModalDialog({
					title: sltRow.title+'-成员管理',
					height:406,
					href:'__URL__/groupMebManager?groupid='+sltRow.id,
					buttons:[{
						text:'取消',
						handler:function(win){ win.close();}
					}]
				});
			} else {
				parent.$.messager.alert('提示信息','未选择数据!','warning');
			}
			
		}

		function authSet() {
			var sltRow = dlist.datagrid('getSelected');
			if(!sltRow) {
				parent.$.messager.alert('提示信息','未选择数据!','warning');
				return false;
			}
			$.showModalDialog({
				title:'权限设置',
				// useiframe:true,
				// content: 'url:'+CONTROLLER+'/authSet',
				height:450,
				href:CONTROLLER+'/authSet?groupid'+sltRow.id,
				buttons:[{
					text:'确定',
					handler:'doOK'
				},{
					text:'取消',
					handler:function(win){ win.close();}
				}]
			});
		}

		function isSlted(sltRow){
			if(!sltRow) {
				parent.$.messager.alert('提示信息','未选择数据!','warning');
				return false;
			}


		}

	</script>
</block>