<extend name="Public/base"/>

<block name="body">
	<table id="dg"></table>
</block>

<block name="script">
	<script type="text/javascript">
		var toolbar = [{
				text:'增加',
				iconCls:'icon-add',
				handler:add
			},{
				text:'删除',
				iconCls:'icon-remove',
				handler:del
			},'-',{
				text:'刷新',
				iconCls:'icon-reload',
				handler:function(){$("#dg").datagrid('reload');}
			}];
		var dlist;
		$(function($){
			dlist = $('#dg').datagrid({
				title:'用户组',
				toolbar:toolbar,
				url:'__URL__/get_usergroup_json',
				rownumbers:true,
				pagination:true,
				singleSelect: true,
				onLoadSuccess:function(){
					$(this).datagrid('clearSelections');
				},
				idField:'id',
				columns:[[
					{title:'用户组',field:'title'},
					{title:'描述',field:'description'},
					{title:'状态',field:'status',editor:'text',formatter:function(value,row,index){
						return '<span class="icons icon-status'+value+'">&nbsp;&nbsp;&nbsp;</span>';
					}}
				]]
			});

			eyResize({'#dg':'datagrid'});
		});

		function add() {
			$.showModalDialog({
				title:'增加用户组',
				href:CONTROLLER+'/addUsergroup',
				data:{ele:$("#dg")},
				buttons:[{
					text:'增加',
					handler:'doOK'
				},{
					text:'取消',
					handler:function(win){ win.close();}
				}]
			});
		}

		function del() {
			var sltRow = dlist.datagrid('getSelected');
			if(sltRow) {
				console.info(sltRow);
				$.messager.confirm('确认对话框', '您想要删除选择中的数据吗？', function(r){
					if (r){
					    $.post(CONTROLLER+'/del',{uid:sltRow.uid},function(rsp){
							console.info(rsp);
							noty(rsp);
							if(rsp.status) dlist.datagrid('reload');
						});
					}
				});
			} else {
				parent.$.messager.alert('提示信息','未选择数据!','warning');
			}
		}

	</script>
</block>