.icon-lock{background:url('extend-icons/lock.png') no-repeat;}
.icon-unlock{background:url('extend-icons/unlock.png') no-repeat;}
.icon-arrow-out{background:url('extend-icons/16/arrow-out.png') no-repeat;}
.icon-arrow-in{background:url('extend-icons/16/arrow-in.png') no-repeat;}
.icon-status0{background:url('extend-icons/16/status0.gif') no-repeat;}
.icon-status1{background:url('extend-icons/16/status1.gif') no-repeat;}
.icon-advancedsettings{background:url('extend-icons/16/advancedsettings.png') no-repeat;}
.icon-logout{background:url('extend-icons/16/logout.png') no-repeat;}
.icon-theme{background:url('extend-icons/16/theme.png') no-repeat;}
.icon-text_list_bullets{background:url('extend-icons/16/text_list_bullets.png') no-repeat;}
.icon-form{background:url('extend-icons/16/application-form.png') no-repeat;}
.icon-application-double{background:url('extend-icons/16/application-double.png') no-repeat;}
