<extend name="Public/base"/>

<block name="body">

	<table id="tt" ></table>

		
</block>

<block name="script">
    <script type="text/javascript">
		var toolbar = [{
				text:'增加',
				iconCls:'icon-add',
				handler:addMenu
			},'-',{
				text:'Save',
				iconCls:'icon-save',
				handler:function(){alert('save')}
			},{
				text:'刷新',
				iconCls:'icon-reload',
				handler:function(){$("#tt").treegrid('reload');}
			}];
		$(function($){
			$('#tt').treegrid({
				title:'菜单列表',
				url: CONTROLLER+'/getMenuJson',
				idField:'id',
				height:550,
				treeField:'text',
				toolbar:toolbar,
				columns:[[
					{title:'名称',field:'text',editor:'text'},
					{title:'URL',field:'url',width:180,editor:'text'},
					{title:'图标',field:'iconCls',editor:'text',formatter:function(value,row,index){
						return '<span class="icons '+value+'">&nbsp;&nbsp;&nbsp;</span>';
					}},
					{title:'状态',field:'status',editor:'text',formatter:function(value,row,index){
						return '<span class="icons icon-status'+value+'">&nbsp;&nbsp;&nbsp;</span>';
					}}
				]],
				customAttr: {
		            rowediting: true,
		            onConfirmEdit: function(row){
		            	$(this).treegrid('endEdit',row.id);
		            	var changes = $(this).treegrid('getChanges','updated');
						$.post("__URL__/editSave",changes[0],function(rsp){
							if(rsp.status) {
								$.messager.show({title:'提示信息',msg:rsp.info,showType:'show'});
							}
						});
		            	return true;
                    }
		        },
		        onDblClickRow: function(row){
		            var editingRow = $(this).treegrid('getEditingRow');
		            if(!editingRow){
		                $(this).treegrid('beginEdit', row.id);
		            }else{
		                $(this).treegrid('select', editingRow.id);
		            }
		        }
			}).treegrid('followCustomHandle');
			eyResize({'#tt':'treegrid'});
		});

		function addMenu () {
			var sltRow = $("#tt").treegrid('getSelected');
			var id = sltRow ? sltRow.id : '';
			$.showModalDialog({
				title:'增加菜单',
				width:600,height:300,
				data:{tt:$("#tt")},
				href:CONTROLLER+'/Add?id='+id,
				buttons:[{
					text:'增加',
					handler:'doOK'
				},{
					text:'取消',
					handler:function(win){ win.close();}
				}]
				
			});
		}
    </script>
</block>