<extend name="Public/base"/>

<block name="body">
	<table id="dg"></table>
</block>

<block name="script">
	<script type="text/javascript">
		var toolbar = [{
				text:'增加',
				iconCls:'icon-add',
				handler:add
			},{
				text:'删除',
				iconCls:'icon-remove',
				handler:del
			},'-',{
				text:'刷新',
				iconCls:'icon-reload',
				handler:function(){$("#dg").datagrid('reload');}
			}];
		$(function($){
			var ulist = $('#dg').datagrid({
				title:'用户列表',
				toolbar:toolbar,
				url:'__URL__/getUserJson',
				rownumbers:true,
				pagination:true,
				idField:'id',
				columns:[[
					{title:'UID',field:'uid',editor:'text'},
					{title:'用户名',field:'nickname',editor:'text'},
					{title:'登录次数',field:'login_num',editor:'text'},
					{title:'最后登录IP',field:'last_login_ip',editor:'text'},
					{title:'最后登录时间',field:'last_login_time',editor:'text'},
					{title:'生日',field:'birthday'},
					{title:'QQ',field:'qq'},
					{title:'性别',field:'sex'},
					{title:'注册时间',field:'reg_time'},
					{title:'状态',field:'status',editor:'text',formatter:function(value,row,index){
						return '<span class="icons icon-status'+value+'">&nbsp;&nbsp;&nbsp;</span>';
					}}
				]]
			});

			eyResize({'#dg':'datagrid'});
		});

		function add() {
			$.showModalDialog({
				title:'增加用户',
				// width:600,height:300,
				data:{tt:$("#tt")},
				href:CONTROLLER+'/Add',
				data:{ele:$("#dg")},
				buttons:[{
					text:'增加',
					handler:'doOK'
				},{
					text:'取消',
					handler:function(win){ win.close();}
				}]
			});
		}

		function del() {
			console.info('del');
		}
	</script>
</block>