<extend name="Public/base"/>

<block name="body">
	<table id="dg"></table>
</block>

<block name="script">
	<script type="text/javascript">
		$(function($){
			var ulist = $('#dg').datagrid({
				title:'用户列表',
				url:'__URL__/getUserJson',
				idField:'id',
				columns:[[
					{title:'UID',field:'text',editor:'text'},
					{title:'用户名',field:'text',editor:'text'},
					{title:'登录次数',field:'text',editor:'text'},
					{title:'最后登录IP',field:'text',editor:'text'},
					{title:'最后登录时间',field:'text',editor:'text'},
					{title:'状态',field:'text',editor:'text'}
				]]
			});

			eyResize({'#dt':'datagrid'});
		});
	</script>
</block>