<extend name="Public/base2"/>

<block name="body">
	<table id="cm-list" ></table>
</block>

<block name="script">
    <script type="text/javascript">
		var toolbar = {$toolbar};
		$(function($){
			$('#cm-list').datagrid({
				url: CONTROLLER+'/get_articl_json?chaid={$chaid}',
				idField:'id',
				fitColumns:true,
				rownumbers:true,
				fit:true,
				// fitColumns:true,
				toolbar:toolbar,
				enableHeaderClickMenu: false,
        		enableHeaderContextMenu: false,
				columns:[[
					{title:'ID',field:'id',align:'center'},
					{title:'标题',field:'title',width:300},
					{title:'增加时间',field:'inputtime',formatter:function(value,row,index){
						return date('Y-m-d H:i:s',value);
					}},
					{title:'状态',field:'status',align:'center',editor:'text',formatter:function(value,row,index){
						if(value == 1) {
							return '<span class="status-yes">√</span>';
						} else {
							return '<span class="status-no">×</span>';
						}
					}}
				]]
			});
		});

		function add () {
			// $.easyui.showDialog({
	  //           title: "添加栏目",
	  //           enableHeaderContextMenu:false,
	  //           autoRestore:false,
	  //           href:CONTROLLER+'/Add?id='+id,
	  //           topMost: true,
	  //           enableApplyButton:false,
	  //           onSave:function(){
	  //           	var rs = parent.doOK();
	  //           	if(rs) $("#cm-list").datagrid('reload');
	  //           	return rs;
	  //           }
	  //       });
			parent.$("#cm-layout").layout('panel','center').panel("refresh", "__URL__/cmAbc/?type=1&issgl=1&chaid={$chaid}");
		}

		function del () {
			var sltRow = $("#cm-list").datagrid('getSelected');
			// var id = sltRow ? sltRow.id : '';

			if(sltRow == null) {
				$.messager.alert(lang.tip,'请选择要删除的数据！','warning');
			} else {
				if(sltRow.children) {
					$.messager.alert(lang.tip,sltRow.text+'还有下级栏目,不能直接删除!','warning');
				} else {
					$.messager.confirm('确认','确定要删除选中的栏目吗?',function(r){
						if(r) {
							$.post('__URL__/del',{id:sltRow.id},function(rsp){
								// console.info(rsp);
								if(rsp.status) {
									$("#cm-list").datagrid('remove',sltRow.id);
									$.messager.show({title:lang.tip,msg:rsp.info,showType:'show',position:'bottomRight'});
								}
							});
						}
					});
				}
			}
		}

		function doRefresh () {
			$("#cm-list").datagrid('reload');
		}


    </script>
</block>